<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.dominic.naijanews" >
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".itemListActivity"
            android:label="@string/app_name"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />

        </activity>
        <activity
            android:name=".itemDetailActivity"
            android:label="@string/title_item_detail"
            android:parentActivityName=".itemListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".itemListActivity" />
        </activity>
        <activity
            android:name=".MyIntro"
            android:label="@string/no_title" >
        </activity>
        <activity
            android:name=".MainActivity1"
            android:label="@string/todoList">

        </activity>
        <provider
            android:authorities="com.example.dominic.naijanews.db.mytasks"
            android:name=".db.TaskProvider" />

    </application>

</manifest>
